"*":
  "atom-beautify":
    general:
      _analyticsUserId: "a45c075c-9e9f-4231-8c7c-42453190fddb"
  core:
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 12
    showIndentGuide: true
  "exception-reporting":
    userId: "e2077dee-4c5b-4ccf-9cd4-f7afc4a5ac00"
  "file-icons":
    coloured: false
  "linter-ui-default":
    useBusySignal: false
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
